Proxy "Fixing" URLs containing double slashes

I noticed that oauth2_proxy will attempt to "fix" urls that contain two consecutive slashes by issuing a 301 redirect to the fixed URL. In the request log this looks as follows: 

```
IP - PERSON [13/Feb/2019:15:09:28 +0000] adminpanel.homefully.tech POST - "/management-application//graphql" HTTP/1.1 "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36" 301 0 0.000
```

(notice the dash between POST and the path is the upstream - which is empty in this case, indicating that oauth2_proxy takes action itself) 

I believe that this is not the ideal behaviour in all cases (see in context below for two examples) 

I understand that changing the default behaviour of the proxy to not fix urls might cause more bugs than it would fix. It would be great however, if there was a way to disable this "url repair" mode via a commandline argument, such as `--no-url-repair`. 

## Expected Behavior

oauth2_proxy features an argument `--no-url-repair`. If this is set, URLs are not rewritten

## Current Behavior

all urls are "fixed" and a redirect is issued. this causes some applications to be not operable behind oauth2_proxy. 

## Context

So far, I've had two situations, in which this behaviour is causing pain: 

* issuing a 301 redirect will convert POST into GET requests ([RFC 2616 section 10.3.2](https://tools.ietf.org/html/rfc2616#section-10.3.2)). Even if the upstream would have been able to handle the request accordingly - clients executing such a link might break. (I am encountering such a behaviour right now) 
* There are cases, in which double slashes in URLs _are_ used by design. [Thumbor](http://thumbor.org/) is an image resizing proxy, that expects the url of the image to be resized to be part of the request path. A normal Thumbor Url would look like this: http://myhost.com/unsafe/300x200/http://myimagehost.com/image1.jpg . Because of oauth2_proxys behaviour, it becomes impossible to put a thumbor instance behind this proxy. 

It's worth nothing that this is a purely pragmatic approach to the issue. URLs are not used as they should in both cases - but existing tools out there depend on this behaviour and break due to the redirect. 


BTW: Thanks a lot for this great tool! I find it enormously helpful! :) 

This is a long-standing problem due to using the go standard-library http.ServeMux unfortunately:
https://github.com/bitly/oauth2_proxy/issues/179 https://github.com/bitly/oauth2_proxy/issues/506

I'm not sure what we can do about this, I saw suggestion in one of the links I clicked about replacing `NewSingleHostReverseProxy` with a slightly different implementation which wouldn't normalize the URLs but I don't know if that would fix the problem.

Does anyone have any time to try something like this?